@use 'sass:map';
@use '../../../shared/styles/variables.__generated.scss' as *;

.readonly {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: $unit10;
  font-size: $unit16;
  border: $form-input-border;
  border-color: map.get($yata-palette-gray, 100) !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  color: $form-input-text-color;
  margin: $unit6 0;
  outline: none;
}
