@import '../../../shared/variables.scss';

:host {
  box-sizing: border-box;
  width: 100%;
  height: $unit;

  .mat-button {
    padding: 0 24px;
    margin: 0;
    width: 100%;
    height: $unit;
    border-radius: 0;
    text-align: left;
  }

  ::ng-deep .mat-button-wrapper {
    display: flex;
    flex-direction: row;

    .navigation-item-icon {
      display: block;
      line-height: 40px;
      margin-right: $unit * 0.25;
    }

    yata-title {
      display: block;
    }
  }
}
