@use 'sass:math';
@import '../../../../../shared/styles/variables.scss';

:host {
  .error-container {
    margin-top: $_6unit;
    padding: 0 $_2unit;
  }

  .error {
    display: inline-block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: none;
    margin: 0;
    font-size: $_12unit;
    font-weight: 400;
    background-color: transparent;
    color: $warn-color;
    text-transform: uppercase;
    opacity: 0.7;
  }
}
