@use 'sass:math';
@import '../../../../../shared/styles/variables.scss';

:host {
  .error-container {
    margin-top: 6px;
    padding: 0 2px;
  }

  .error {
    display: inline-block;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: none;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    color: $warn-color;
    text-transform: uppercase;
    opacity: 0.7;
  }
}
