<div class="figure">
  <yata-image
    [src]="'../../../../assets/images/empty.jpg'"
    [width]="480"
    [height]="576"
    [alt]="'EmptyDialog.imageAlt' | translate"></yata-image>
</div>
<div class="main">
  <div class="content" *ngIf="titleKey && hintKey">
    <yata-title>{{ data.titleKey | translate }}</yata-title>
    <yata-subtitle>{{ data.hintKey | translate }}</yata-subtitle>
  </div>
  <yata-modal-action-buttons [submitButton]="{ label: 'EmptyDialog.ok', click: close }">
  </yata-modal-action-buttons>
</div>
