@use '../../../../shared/styles/variables.__generated.scss' as *;

::ng-deep yata-label.label {
  span {
    font-size: $unit14 !important;
    line-height: $unit14 !important;
  }
}

.hint {
  display: block;
  padding: 0 $unit2;
  margin: $unit10 0;
  font-size: $unit14;
  color: black;
  opacity: 0.7;
}

.drag-drop-task-order-list {
  margin-top: $unit2;
  padding: $unit2;

  .row {
    box-sizing: border-box;
    height: $unit40;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start !important;
    background-color: $background-color !important;
    border: 1px solid $form-input-border-color;
    border-radius: $border-radius;
  }

  .row:not(:last-of-type) {
    margin-bottom: $unit6;
  }

  .row:hover {
    background-color: $form-input-focus-background;
  }
}
