@use 'sass:math';
@import '../../styles/variables.scss';

span {
  font-family: 'Spectral', serif;
  font-size: math.div($unit, math.div(64, 14));
  line-height: math.div($unit, 4);
  font-weight: 500;
}
