@use 'sass:math';
@import '../../styles/variables.__generated.scss';

span {
  font-family: 'Gentium Plus', sans-serif;
  font-size: $_18unit;
  line-height: $_20unit;
  font-weight: 500;
  color: $subtitle-text-color;
}
