@use "sass:map";
@use 'sass:math';
@use '@angular/material' as mat;

// Use theme-generator from yata-another-todo-app-dev-scripts
// to generate theme variables like color palettes, units etc.
@import './units.__generated.scss';
@import './palettes.__generated.scss';

@include mat.all-component-typographies();
@include mat.core();

// GENERAL COLORS
$background-color: white;
$border-color: map.get($yata-palette-grey, 200);
$primary-color: map.get($yata-palette-primary, 600);
$secondary-color: map.get($yata-palette-secondary, 600);
$accent-color: map.get($yata-palette-secondary, 600);
$danger-color: map.get($yata-palette-red, 600);
$warning-color: 'orange';
$disabled-color: '#888888';

// TEXT COLORS
$title-text-color: rgb(45, 45, 45); // TODO Rename
$subtitle-text-color: lighten($title-text-color, 5%); // TODO Rename
$label-text-color: rgb(100, 100, 100); // TODO Use it, rename
$standard-text-color: rgb(10, 10, 10); // TODO Use it, rename

// FORM COLORS
$form-label-color: map.get($yata-palette-grey, 800);
$form-input-text-color: $standard-text-color; // TODO Use it
$form-input-border-color: map.get($yata-palette-grey, 400);
$form-input-focus-border-color: $primary-color;

// MATERIAL THEME
$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($yata-palette-primary),
      accent: mat.define-palette($yata-palette-secondary),
      warn: mat.define-palette($yata-palette-red),
    ),
    typography: mat.define-typography-config(),
  )
);
@include mat.all-component-themes($theme);
