$yata-palette-primary: (
  50: #e5e8f5,
  100: #bec5e6,
  200: #939fd6,
  300: #6778c5,
  400: #475bb8,
  500: #263eac,
  600: #2238a5,
  700: #1c309b,
  800: #172892,
  900: #0d1b82,
  A100: #b3baff,
  A200: #808cff,
  A400: #4d5dff,
  A700: #3446ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$yata-palette-secondary: (
  50: #eee5f5,
  100: #d6bee6,
  200: #ba93d6,
  300: #9e67c5,
  400: #8a47b8,
  500: #7526ac,
  600: #6d22a5,
  700: #621c9b,
  800: #581792,
  900: #450d82,
  A100: #d4b3ff,
  A200: #b780ff,
  A400: #9a4dff,
  A700: #8c34ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$yata-palette-red: (
  50: #fce8e3,
  100: #f6c5ba,
  200: #f19e8c,
  300: #eb775d,
  400: #e6593b,
  500: #e23c18,
  600: #df3615,
  700: #da2e11,
  800: #d6270e,
  900: #cf1a08,
  A100: #fff9f8,
  A200: #ffc9c5,
  A400: #ff9992,
  A700: #ff8179,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$yata-palette-grey: (
  50: #f5f5f8,
  100: #e6e7ec,
  200: #d5d7e0,
  300: #c4c7d4,
  400: #b7bbca,
  500: #aaafc1,
  600: #a3a8bb,
  700: #999fb3,
  800: #9096ab,
  900: #7f869e,
  A100: #ffffff,
  A200: #f6f8ff,
  A400: #c3cfff,
  A700: #a9bbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
