$_64unit: 64px;

$_1unit: math.div($_64unit, 64);
$_2unit: math.div($_64unit, math.div(64, 2));
$_4unit: math.div($_64unit, math.div(64, 4));
$_6unit: math.div($_64unit, math.div(64, 6));
$_8unit: math.div($_64unit, math.div(64, 8));
$_10unit: math.div($_64unit, math.div(64, 10));
$_12unit: math.div($_64unit, math.div(64, 12));
$_14unit: math.div($_64unit, math.div(64, 14));
$_16unit: math.div($_64unit, math.div(64, 16));
$_18unit: math.div($_64unit, math.div(64, 18));
$_20unit: math.div($_64unit, math.div(64, 20));
$_22unit: math.div($_64unit, math.div(64, 22));
$_24unit: math.div($_64unit, math.div(64, 24));
$_32unit: math.div($_64unit, math.div(64, 32));
$_36unit: math.div($_64unit, math.div(64, 36));
$_40unit: math.div($_64unit, math.div(64, 40));
$_48unit: math.div($_64unit, math.div(64, 48));

$_128unit: $_64unit * 2;
$_160unit: $_128unit + $_32unit;
$_192unit: $_64unit * 3;
$_256unit: $_64unit * 4;
