@use 'sass:math';
@use '@angular/material' as mat;

@import './units.scss';

// Use color-palletes-generator from yata-another-todo-app-dev-scripts
// to generate color palletes.
@import './palletes.__generated.scss';

@include mat.all-component-typographies();
@include mat.core();

$theme-background-color: white; // TODO Rename
$theme-title-text-color: rgb(45, 45, 45); // TODO Rename
$theme-subtitle-text-color: lighten($theme-title-text-color, 5%); // TODO Rename
$theme-label-text-color: rgb(100, 100, 100); // TODO Use it, rename
$theme-text-color: rgb(10, 10, 10); // TODO Use it, rename

$theme-primary: mat.define-palette($yata-palette-primary);
$theme-secondary: mat.define-palette($yata-palette-secondary);
$theme-grey: mat.define-palette($yata-palette-grey);
$theme-danger: mat.define-palette($yata-palette-red);

$column-width: $_64unit * 3;

$color-accent: mat.get-color-from-palette($theme-secondary, 700);
$color-danger: mat.get-color-from-palette($theme-danger, 700);
$color-warning: 'orange';
$color-text: 'black';
$color-disabled: '#888888';

$border-color: mat.get-color-from-palette($theme-grey, 100);
$border: 1px solid $border-color;

$dialog-width: $_64unit * 15;
$dialog-height: $_64unit * 10;

$theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-secondary,
      warn: $theme-danger,
    ),
    typography: mat.define-typography-config(),
  )
);

$primary-color: mat.get-color-from-palette($theme-primary, 600);
$primary-color-50: mat.get-color-from-palette($theme-primary, 50);
$primary-color-100: mat.get-color-from-palette($theme-primary, 100);
$primary-color-200: mat.get-color-from-palette($theme-primary, 200);
$primary-color-300: mat.get-color-from-palette($theme-primary, 300);
$primary-color-400: mat.get-color-from-palette($theme-primary, 400);
$primary-color-500: mat.get-color-from-palette($theme-primary, 500);
$primary-color-600: mat.get-color-from-palette($theme-primary, 600);
$primary-color-700: mat.get-color-from-palette($theme-primary, 700);
$primary-color-800: mat.get-color-from-palette($theme-primary, 800);

$danger-color: mat.get-color-from-palette($theme-danger, 600);
$danger-color-50: mat.get-color-from-palette($theme-danger, 50);
$danger-color-100: mat.get-color-from-palette($theme-danger, 100);
$danger-color-200: mat.get-color-from-palette($theme-danger, 200);
$danger-color-300: mat.get-color-from-palette($theme-danger, 300);
$danger-color-400: mat.get-color-from-palette($theme-danger, 400);
$danger-color-500: mat.get-color-from-palette($theme-danger, 500);
$danger-color-600: mat.get-color-from-palette($theme-danger, 600);
$danger-color-700: mat.get-color-from-palette($theme-danger, 700);
$danger-color-800: mat.get-color-from-palette($theme-danger, 800);

$grey-color: mat.get-color-from-palette($theme-grey, 600);
$grey-color-50: mat.get-color-from-palette($theme-grey, 50);
$grey-color-100: mat.get-color-from-palette($theme-grey, 100);
$grey-color-200: mat.get-color-from-palette($theme-grey, 200);
$grey-color-300: mat.get-color-from-palette($theme-grey, 300);

$border-radius: $_6unit;
$modal-border-radius: $_16unit;

$form-label-color: mat.get-color-from-palette($theme-grey, 900);

$form-input-text-color: $theme-text-color; // TODO Use it
$form-input-border-color: mat.get-color-from-palette($theme-grey, 700);
$form-input-border: 1px solid $form-input-border-color;
$form-input-border-radius: $_6unit;
$form-input-focus-border-color: $primary-color-200 !important;
$form-input-focus-border: 1px solid $form-input-focus-border-color !important;
$form-input-background: darken($theme-background-color, 0.5%) !important;
$form-input-focus-background: #f3f5fc !important;

@include mat.all-component-themes($theme);
