@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;

// Use theme-generator from yata-another-todo-app-dev-scripts
// to generate theme variables like color palettes, units etc.
@import './units.__generated.scss';
@import './palettes.__generated.scss';

@import './colors.scss';

@include mat.all-component-typographies();
@include mat.core();

$column-width: $_64unit * 3;

$border: 1px solid $border-color;

$dialog-width: $_64unit * 15;
$dialog-height: $_64unit * 10;

$border-radius: $_6unit;
$modal-border-radius: $_16unit;

$form-input-border-radius: $_6unit;
$form-input-border: 1px solid $form-input-border-color;
$form-input-focus-border: 1px solid $form-input-focus-border-color;
$form-input-background: darken($background-color, 0.7%) !important;
$form-input-focus-background: rgba(map.get($yata-palette-primary, 50), 0.33) !important;
