@use 'sass:math';
@use '@angular/material' as mat;

// Use theme-generator from yata-another-todo-app-dev-scripts
// to generate theme variables like color palletes, units etc.
@import './units.__generated.scss';
@import './palletes.__generated.scss';

@import './colors.scss';

@include mat.all-component-typographies();
@include mat.core();

$column-width: $_64unit * 3;

$border: 1px solid $border-color;

$dialog-width: $_64unit * 15;
$dialog-height: $_64unit * 10;

$border-radius: $_6unit;
$modal-border-radius: $_16unit;

$form-input-border-radius: $_6unit;
$form-input-border: 1px solid $form-input-border-color;
