@use '../../../shared/styles/variables.__generated.scss' as *;

label {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $unit14;
  font-weight: 400;
  color: $form-label-color;
  text-transform: uppercase;
  display: block;
  padding: 0 $unit2;
  margin: $unit6 0 0 0;
  background-color: transparent;
  opacity: 1;
}
