<yata-app-wrapper>
  <yata-toolbar [title]="title" (menuClick)="onMenuClick()"></yata-toolbar>
  <main>
    <yata-side-navigation
      [isOpened]="isMenuOpened"
      [mode]="appMode"
      (modeChange)="changeAppMode($event)"></yata-side-navigation>
    <div class="timeline-wrapper" *ngIf="appMode === timelineMode">
      <yata-timeline
        [startDate]="timelineStartDate"
        [endDate]="timelineEndDate"
        (changeStartDate)="changeStartAndEndDate($event)"></yata-timeline>
    </div>
    <div class="table-wrapper" *ngIf="appMode === tableMode">
      <yata-table></yata-table>
    </div>
  </main>
  <yata-app-footer></yata-app-footer>
</yata-app-wrapper>
