@import './shared/variables.scss';

main {
  width: 100%;
  background-color: $theme-background-color;
  height: calc(100vh - $unit * 2);
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

yata-side-navigation {
  height: 100%;
}

.timeline-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
