@import './shared/styles/variables.scss';

main {
  width: 100%;
  height: calc(100vh - $_64unit * 2 - ($_32unit - $_2unit));
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  background: none;
  background-color: transparent;
}

yata-side-navigation {
  height: 100%;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.table-wrapper {
  width: 100%;
}
