<yata-app-wrapper [isAppVisible]="!!(isAppVisible | async)">
  <yata-toolbar
    [title]="'App.title' | translate"
    [username]="username | async"
    [isOfflineMode]="!!(isOfflineMode | async)"
    (menuClick)="onMenuClick()"></yata-toolbar>
  <main>
    <yata-side-navigation
      [isOpened]="isMenuOpened"
      [mode]="appMode"
      (modeChange)="changeAppMode($event)"></yata-side-navigation>
    <router-outlet></router-outlet>
    <div class="table-wrapper" *ngIf="appMode === tableMode">
      <yata-table [sort]="tableSort | async"></yata-table>
    </div>
  </main>
  <yata-footer></yata-footer>
</yata-app-wrapper>
