@use 'sass:math';
@import '../../../../shared/styles/variables.scss';

:host {
  form {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: $border;
    height: $_64unit;
    width: 5 * $_64unit;
    padding: $_8unit;
  }

  yata-date-picker:first-of-type {
    margin-right: $_8unit;
  }
}

::ng-deep yata-date-picker.custom-date-picker {
  input {
    padding: $_4unit !important;
    margin-top: $_4unit - ($_2unit * 0.5) !important;
    width: math.div((5 * $_64unit - (3 * $_8unit)), 2) !important;
  }

  label {
    margin-top: 0 !important;
    font-size: $_12unit !important;
  }
}
