@import '../../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  width: $column-width;
  height: $_64unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
