<div>
  <yata-form-label [for]="label" />
  <div class="time-picker-wrapper">
    <input
      *yataErrorTooltip="label"
      #hours
      pInputText
      type="text"
      [disabled]="isDisabled"
      (input)="onHoursChange($event)"
      (change)="onHoursChange($event)"
      (blur)="onBlur()" />
    <div class="separator">:</div>
    <input
      *yataErrorTooltip="label"
      #minutes
      pInputText
      type="text"
      [disabled]="isDisabled"
      (input)="onMinutesChange($event)"
      (change)="onMinutesChange($event)"
      (blur)="onBlur()" />
  </div>
</div>
