@use 'sass:map';
@use 'sass:math';
@import '../../../shared/styles/variables.__generated.scss';

select,
select:focus {
  box-sizing: border-box;
  width: 100%;
  padding: $_64unit / 6 $_64unit / 6;
  font-size: 16px;
  border-radius: $form-input-border-radius;
  outline: none;
  margin: 0;
  margin-top: 6px;
  background: url('../../../../assets/images/expand_more_FILL0_wght400_GRAD0_opsz24.svg') no-repeat
    right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - $_64unit / 8);
}

select:not(:focus) {
  border: $form-input-border;
  background-color: $form-input-background;
}

select:focus {
  border: $form-input-focus-border;
  background-color: $form-input-focus-background;
}
