@use "sass:map";
@use 'sass:math';
@import '../../../shared/styles/variables.scss';

$padding: $_10unit $_10unit;

::ng-deep p-dropdown {
  display: flex;
  margin-top: $_6unit;
  width: 100%;

  .p-dropdown {
    width: 100%;
    padding: $padding;
    font-size: $_16unit;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
  }

  .p-dropdown.p-focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_6unit map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }
}

::ng-deep p-dropdownitem {
  li span {
    display: block;
    padding: $padding;
  }

  .p-highlight {
    background-color: $form-input-focus-background;
    color: $primary-color;
  }
}
