@use '../../../../shared/styles/variables.__generated.scss' as *;

form {
  display: flex;
  flex-direction: row;
}

input,
input:focus {
  box-sizing: border-box;
  width: 100%;
  padding: $unit6 $unit6;
  font-size: $unit14;
  border-radius: 0 $form-input-border-radius $form-input-border-radius 0;
  outline: none;
  margin: 0;
  border-left-width: 0px;
}

input:not(:focus) {
  border: $form-input-border;
  border-left-width: 0px;
  background-color: $form-input-background;
}

input:focus {
  border: $form-input-focus-border;
  border-left-width: 0px !important;
  background-color: $form-input-focus-background;
}

.seachbar-icon {
  padding: $unit6 $unit6;
  border: $form-input-border;
  border-right-width: 0px !important;
  border-radius: $form-input-border-radius 0 0 $form-input-border-radius;
  background-color: $form-input-background;
  height: $unit32;
}

.is-focused {
  border: $form-input-focus-border;
  border-right-width: 0px !important;
  background-color: $form-input-focus-background;
}
