@import '../../../shared/variables.scss';

:host {
  box-sizing: border-box;
  width: $unit * 3;
  height: $unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
