@use '../../../shared/styles/variables.__generated.scss' as *;

span {
  font-family: 'Gentium Plus', sans-serif;
  font-size: $unit18;
  line-height: $unit20;
  font-weight: 500;
  color: $subtitle-text-color;
}
