@use 'sass:map';
@use 'sass:math';
@use '@chris.araneo/yet-another-todo-app-theme/variables.__generated.scss' as *;

.readonly {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: $_10unit;
  font-size: $_16unit;
  border: $form-input-border;
  border-color: map.get($yata-palette-gray, 100) !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  color: $form-input-text-color;
  margin: $_6unit 0;
  outline: none;
}
