@use 'sass:map';
@use 'sass:math';
@import '../../../shared/styles/variables.__generated.scss';

$table-cell-size: $_26unit;

.calendar-wrapper {
  margin-top: $_8unit !important;
}

::ng-deep p-calendar {
  .p-calendar {
    width: 100% !important;
    height: auto;
  }

  .p-datepicker-calendar-container {
    padding: $_16unit $_8unit;
  }

  .p-component.p-datepicker-inline {
    border-color: $border-color;
  }

  .p-datepicker-header {
    padding: $_8unit $_8unit;
  }

  .p-datepicker-month {
    padding-right: $_8unit;
  }

  .p-datepicker table th {
    width: $table-cell-size;
    height: $table-cell-size + $_4unit;
    margin-top: $_10unit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .p-datepicker-calendar {
    tr {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    th {
      span {
        font-size: $_14unit;
      }
    }

    td {
      margin-bottom: $_4unit;
      width: $table-cell-size;
      height: $table-cell-size;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        width: $table-cell-size;
        height: $table-cell-size;
        font-size: $_14unit;
      }
    }
  }

  .p-monthpicker {
    display: flex;
    flex-wrap: wrap;
    padding: $_14unit;
  }

  .p-monthpicker-month {
    flex: 1 0 calc(33.3333% - $_8unit);
    font-size: $_14unit;
    height: $table-cell-size;
    margin: $_4unit;
  }

  .p-yearpicker {
    padding: $_16unit;
  }

  .p-yearpicker-year {
    font-size: $_14unit;
    height: $table-cell-size - $_2unit;
    margin: $_2unit;
  }
}
