@use 'sass:math';
@import '../../../shared/styles/variables.scss';

::ng-deep p-calendar {
  .p-calendar {
    width: 100% !important;
  }

  .p-datepicker-calendar {
    tr {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    td {
      width: $_32unit;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        width: $_32unit;
        height: $_32unit;
      }
    }
  }
}
