@import '../../../shared/styles/variables.scss';

.side-navigation-animated-wrapper {
  overflow: hidden;
  border-right: $border;
  padding: 0;
  margin: 0;
  height: 100%;
}

.side-navigation-content {
  box-sizing: border-box;
  width: $_64unit * 4;
  height: 100%;
  padding: 0;
}
