@use 'sass:map';
@use '../../../shared/styles/variables.__generated.scss' as *;

$table-cell-size: $unit26;
$box-shadow-radius: $unit4;

.calendar-wrapper {
  margin-top: $unit8 !important;
}

::ng-deep p-calendar {
  *:focus {
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-primary, 50) !important;
  }

  .p-calendar {
    width: 100% !important;
    height: auto;
  }

  .p-highlight {
    color: map.get($yata-palette-primary, 600);
    background-color: $form-input-focus-background;
  }

  .p-datepicker-calendar-container {
    padding: $unit16 $unit8;
  }

  .p-datepicker-group {
    background-color: $form-input-background;
  }

  .p-component.p-datepicker-inline {
    background-color: transparent;
    border-color: $form-input-border-color;
  }

  .p-datepicker-header {
    background-color: transparent;
    padding: $unit8 $unit8;
    border-bottom-color: $border-color;
  }

  .p-datepicker-month,
  .p-datepicker-year {
    padding: $unit4;
  }

  .p-datepicker-month:hover,
  .p-datepicker-year:hover {
    color: map.get($yata-palette-primary, 600);
  }

  .p-datepicker table th {
    width: $table-cell-size;
    height: $table-cell-size + $unit4;
    margin-top: $unit10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .p-datepicker-calendar {
    tr {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    th {
      span {
        font-size: $unit14;
      }
    }

    td {
      margin-bottom: $unit4;
      width: $table-cell-size;
      height: $table-cell-size;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        width: $table-cell-size;
        height: $table-cell-size;
        font-size: $unit14;
      }
    }
  }

  .p-monthpicker {
    background-color: $form-input-background;
    display: flex;
    flex-wrap: wrap;
    padding: $unit14;
  }

  .p-monthpicker-month {
    flex: 1 0 calc(33.3333% - $unit8);
    max-width: calc(33.3333% - $unit8);
    font-size: $unit14;
    height: $table-cell-size;
    margin: $unit4;
  }

  .p-yearpicker {
    background-color: $form-input-background;
    display: flex;
    flex-wrap: wrap;
    padding: $unit14;
  }

  .p-yearpicker-year {
    flex: 1 0 calc(33.3333% - $unit8);
    max-width: calc(33.3333% - $unit8);
    font-size: $unit14;
    height: $table-cell-size;
    margin: $unit4;
  }
}
