<yata-title class="modal-title">{{ 'DeleteTaskModal.modalTitle' | translate }}</yata-title>
<form [formGroup]="taskForm" *ngIf="!!taskForm; else empty">
  <yata-select
    [formControlName]="'task'"
    [label]="'DeleteTaskModal.selectTask' | translate"
    [options]="(tasks | async) || []"></yata-select>
  <ng-container *ngIf="taskForm.value.task">
    <button mat-flat-button color="danger" (click)="submit()" [disabled]="taskForm.invalid">
      {{ 'DeleteTaskModal.delete' | translate }}
    </button>
  </ng-container>
</form>

<ng-template #empty>
  <yata-empty-info-box
    [caption]="'DeleteTaskModal.emptyCaption' | translate"
    [hint]="'DeleteTaskModal.emptyHint' | translate"></yata-empty-info-box>
</ng-template>
