@import '../../shared/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.timeline-headers-row {
  display: flex;
}

yata-timeline-header {
  min-width: $unit * 3;
  height: $unit;
  border-bottom: $border;
}

yata-timeline-content {
  margin-left: 3 * $unit;
  min-height: calc(100% - $unit);
}
