@use '../../../../shared/styles/variables.__generated.scss' as *;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

yata-task-card {
  position: relative;
  width: calc($column-width - $unit16);
  margin: $unit8;
}

.column {
  box-sizing: border-box;
  position: relative;
  min-width: $column-width;
  width: $column-width;
  min-height: 100%;
  padding-left: $unit8;
  padding-right: $unit8;
  background-color: transparent;
}
