<mat-toolbar color="primary">
  <div class="menu-button-wrapper">
    <button
      mat-icon-button
      [attr.aria-label]="'Toolbar.menuIcon' | translate"
      (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <yata-title>{{ title }}</yata-title>
  <ng-container *ngIf="!isOfflineMode; else offlineMode">
    <div class="logged-as">
      <span class="label">{{ 'Toolbar.loggedAs' | translate }}</span>
      <span class="username">{{ username || '' }}</span>
    </div>
    <yata-sign-out-button *ngIf="!isOfflineMode"></yata-sign-out-button>
  </ng-container>
  <ng-template #offlineMode>
    <div
      class="offline-mode"
      [matTooltip]="'Toolbar.offlineModeHint' | translate"
      [matTooltipPosition]="'below'"
      [matTooltipShowDelay]="250">
      <mat-icon aria-hidden="false" [attr.aria-label]="'Toolbar.offlineModeHint' | translate">
        wifi_off
      </mat-icon>
      <span class="label">{{ 'Toolbar.offlineMode' | translate }}</span>
    </div>
  </ng-template>
</mat-toolbar>
