@use 'sass:math';
@import '../../../shared/styles/variables.scss';

:host {
  height: $_64unit;
}

::ng-deep p-toolbar {
  box-sizing: border-box;
  height: 100%;
  max-height: $_64unit;
}

::ng-deep .p-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  max-height: $_64unit;
  border: none;
  border-bottom: $border;
  border-radius: $border-radius;
  max-height: $_64unit;
  padding: 0;
  margin: 0;

  background-color: white;
  background-image: url('../../../../assets/images/toolbar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .mdc-icon-button {
    mat-icon {
      width: $_24unit;
      height: $_24unit;
      font-size: $_24unit;
    }
  }
}

.menu-button-wrapper,
.logged-user-information-wrapper,
.offline-mode-wrapper {
  width: math.div(100%, 3);
}

.menu-button-wrapper {
  margin-left: $_12unit;
}

yata-title {
  width: math.div(100%, 3.5);
  text-align: center;
}

.logged-user-information-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.offline-mode-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

yata-logged-user-information {
  margin-right: $_16unit;
}

yata-sign-out-button {
  margin-right: $_10unit;
}
