@use 'sass:math';
@import '../../../shared/styles/variables.scss';

:host {
  height: $_64unit;
}

::ng-deep mat-toolbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: $border;
  width: 100%;
  max-height: $_64unit;

  .mdc-icon-button {
    mat-icon {
      width: $_24unit;
      height: $_24unit;
      font-size: $_24unit;
    }
  }
}

.menu-button-wrapper,
yata-title,
.offline-mode,
.logged-user-information-wrapper {
  width: math.div(100%, 3);
}

yata-title {
  text-align: center;
}

.logged-user-information-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

yata-logged-user-information {
  margin-right: $_16unit;
}

.offline-mode {
  display: flex;
  flex-direction: row;
  justify-content: end;
  opacity: 0.7;

  span {
    display: block;
  }

  .label {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    margin-left: $_8unit;
    font-size: $_12unit;
    line-height: $_24unit;
    font-weight: 400;
    background-color: transparent;
    text-transform: uppercase;
  }
}
