<mat-toolbar color="primary">
  <button
    mat-icon-button
    [attr.aria-label]="'Toolbar.menuIcon' | translate"
    (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <yata-title>{{ title }}</yata-title>
  <div class="logged-as" *ngIf="!isOfflineMode; else offlineMode">
    <span class="label">{{ 'Toolbar.loggedAs' | translate }}</span>
    <span class="username">{{ username || '' }}</span>
  </div>
  <ng-template #offlineMode>
    <div
      class="offline-mode"
      [matTooltip]="'Toolbar.offlineModeHint' | translate"
      [matTooltipPosition]="'below'"
      [matTooltipShowDelay]="250">
      <mat-icon aria-hidden="false" [attr.aria-label]="'Toolbar.offlineModeHint' | translate">
        wifi_off
      </mat-icon>
      <span class="label">{{ 'Toolbar.offlineMode' | translate }}</span>
    </div>
  </ng-template>
</mat-toolbar>
