@import '../../../shared/styles/variables.__generated.scss';

$spinner-wrapper-width: 24px;
$submit-button-wrapper-height: $_48unit;
$submit-button-border-radius: $_10unit;

.submit-button-wrapper {
  width: 100%;
  max-width: $_256unit;
  height: $submit-button-wrapper-height;

  ::ng-deep {
    button {
      margin: 0;
      width: 100% !important;
      height: 100% !important;
      border-radius: $submit-button-border-radius;
    }
  }

  .button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $_192unit;
    padding: 0 $_8unit;
  }

  .spinner-wrapper {
    width: $spinner-wrapper-width;
  }

  .spinner-wrapper {
    height: $submit-button-wrapper-height;
    padding-top: ($submit-button-wrapper-height - $spinner-wrapper-width) * 0.5;
    padding-bottom: ($submit-button-wrapper-height - $spinner-wrapper-width) * 0.5;
  }
}
