@import '../../../shared/styles/variables.scss';

.submit-button-wrapper {
  width: 100%;
  max-width: $_192unit;

  ::ng-deep {
    button {
      margin: 0;
      width: 100% !important;
    }
  }

  .button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $_192unit;
    padding: 0 $_8unit;
  }

  .spacer,
  .spinner-wrapper {
    width: 22px;
  }

  .spinner-wrapper {
    height: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
