@use 'sass:math';
@import '../../styles/variables.__generated.scss';

span {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  font-size: $_12unit;
  line-height: $_12unit;
  font-weight: 400;
  background-color: transparent;
  text-transform: uppercase;
  color: $label-text-color;
}
