@use 'sass:math';
@import '../../../shared/styles/variables.scss';

.sign-in-modal .mat-mdc-dialog-container {
  > div {
    border: none;
    padding: 0;
    margin: 0;
  }

  .mat-mdc-dialog-surface {
    border: none;
    border-radius: $modal-border-radius;
  }

  yata-sign-in-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    .figure,
    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      align-content: center;
    }
  }

  yata-logo {
    width: 100%;
    height: 100%;
  }

  .app-title {
    margin-top: $_40unit;
    margin-bottom: $_32unit;

    h1 {
      padding: $_24unit $_32unit;
      font-weight: 500;
      text-align: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $_24unit;
    height: 100%;

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      > yata-password-input {
        margin-top: $_16unit !important;
      }
    }
  }
}
