<div class="figure">
  <yata-logo></yata-logo>
</div>
<div class="form">
  <yata-title class="app-title">{{ 'App.title' | translate }}</yata-title>
  <form [formGroup]="form">
    <div class="controls">
      <yata-page [@fadeInOut]>
        <yata-text-input
          [formControlName]="'username'"
          [label]="'SignInModal.username' | translate"></yata-text-input>
        <yata-password-input
          [formControlName]="'password'"
          [label]="'SignInModal.password' | translate"
          [parentForm]="form"></yata-password-input>
      </yata-page>
    </div>
    <yata-modal-action-buttons
      [form]="form"
      [submitButton]="{ label: 'SignInModal.signIn', click: submit }">
      <div class="offline-button-wrapper">
        <button mat-button (click)="cancel()">
          <div class="button-content">
            {{ 'SignInModal.dontSignIn' | translate }}
          </div>
        </button>
      </div>
    </yata-modal-action-buttons>
  </form>
</div>
