<yata-title class="modal-title">{{ 'SignInModal.modalTitle' | translate }}</yata-title>
<form [formGroup]="form" *ngIf="!!form">
  <yata-text-input
    [formControlName]="'username'"
    [label]="'SignInModal.username' | translate"></yata-text-input>
  <yata-password-input
    [formControlName]="'password'"
    [label]="'SignInModal.password' | translate"
    [parentForm]="form"></yata-password-input>
  <yata-modal-action-buttons
    [form]="form"
    [submit]="submit"
    [submitLabel]="'SignInModal.signIn'"
    [cancel]="cancel"
    [cancelLabel]="'SignInModal.dontSignIn'">
  </yata-modal-action-buttons>
</form>
