<yata-title class="modal-title">{{ 'ExportTasksModal.modalTitle' | translate }}</yata-title>
<form
  [formGroup]="form"
  *ngIf="(!!form && (tasks | async)) || [] as _tasks"
  (submit)="$event.preventDefault()">
  <yata-password-input
    [formControlName]="'password'"
    [label]="'ExportTasksModal.password' | translate"
    [parentForm]="form"></yata-password-input>
  <yata-password-input
    [formControlName]="'repeatPassword'"
    [label]="'ExportTasksModal.repeatPassword' | translate"
    [parentForm]="form"></yata-password-input>
  <button
    mat-flat-button
    color="primary"
    (click)="submit($event, _tasks)"
    [disabled]="(isLoading | async) || form.invalid || form.pending">
    {{ 'ExportTasksModal.submit' | translate }}
  </button>
</form>
