@use 'sass:math';
@import '../../../shared/styles/variables.scss';

.export-tasks-modal .mat-mdc-dialog-container {
  > div {
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  .mat-mdc-dialog-surface {
    border-radius: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: math.div($unit, 2);
  }

  .modal-title {
    h1 {
      padding: math.div($unit, 4) math.div($unit, 2);
      border-bottom: $border;
    }
  }

  yata-text-input,
  yata-textarea,
  yata-select,
  yata-date-picker,
  yata-password-input {
    margin-bottom: math.div($unit, 4);
  }

  button {
    margin-top: math.div($unit, 2);
  }
}
