@use '../../../../shared/styles/variables.__generated.scss' as *;

:host {
  box-sizing: border-box;
  width: $column-width;
  height: $unit64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
