@import '../../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  width: 100%;
  height: $_64unit;

  .mdc-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 $_24unit;
    margin: 0;
    width: 100%;
    height: $_64unit;
    border-radius: 0;
    text-align: left;
  }

  .navigation-item-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-right: $_16unit;
    font-size: $_24unit;
    height: $_24unit;
    width: auto;
  }

  span {
    display: block;
    font-weight: 400;
    font-size: $_14unit;
  }
}
