@use "sass:map";
@use 'sass:math';
@import '../../../shared/styles/variables.scss';

.p-inputtext {
  box-sizing: border-box;
  width: 100%;
  padding: $_10unit $_8unit;
  font-size: $_16unit;
  border: $form-input-border;
  border-color: $form-input-border-color !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  margin: $_6unit 0;
  outline: none;

  &:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_6unit map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &:hover {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_4unit map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &.ng-invalid {
    border-color: $danger-color !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_6unit map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:hover {
    border-color: $danger-color !important;
    box-shadow: 0 0 0 $_4unit map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &:disabled {
    border-color: $form-input-border-color !important;
    background-color: map.get($yata-palette-grey, 100) !important;
  }

  &:disabled:hover {
    border-color: $form-input-border-color !important;
    box-shadow: 0 0 0 0 transparent !important;
  }
}
