@use 'sass:math';
@import '../../styles/variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: $_64unit;
  padding: $_8unit;

  .empty-image {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: $_16unit;
    padding: 0;
    width: 190px; // TODO Refactor into units too
    height: 150px; // TODO Refactor into units too
    background-image: url('../../../../assets/images/empty.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hint {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: $_14unit;
    text-align: center;
    margin-top: $_8unit;
  }
}
