@use 'sass:math';
@import '../../styles/variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: $unit;
  padding: math.div($unit, 8);

  .empty-image {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: math.div($unit, 4);
    padding: 0;
    width: 190px;
    height: 150px;
    background-image: url('../../../../assets/images/empty.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hint {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: math.div($unit, 8);
  }
}
