@use 'sass:math';
@import '../../../shared/styles/variables.scss';

label {
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 0 $_2unit;
  margin: 0;
  margin-top: $_6unit;
  font-size: $_14unit;
  font-weight: 400;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  opacity: 0.8;
}
