@use 'sass:map';
@use '../../../shared/styles/variables.__generated.scss' as *;

$box-shadow-radius: $unit4;

.p-inputtext {
  box-sizing: border-box;
  width: 100%;
  padding: $unit10;
  font-size: $unit16;
  border: $form-input-border;
  border-color: $form-input-border-color !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  color: $form-input-text-color;
  margin: 0;
  margin-top: $unit6;
  outline: none;

  &:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &:hover {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &.ng-invalid {
    border-color: $danger-color !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:hover {
    border-color: $danger-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &:disabled {
    border-color: $form-input-border-color !important;
    background-color: map.get($yata-palette-gray, 100) !important;
  }

  &:disabled:hover {
    border-color: $form-input-border-color !important;
    box-shadow: 0 0 0 0 transparent !important;
  }
}
