@use 'sass:map';
@use 'sass:math';
@import '../../../../../shared/styles/variables.__generated.scss';

$box-shadow-radius: $_4unit;

.p-inputtext {
  box-sizing: border-box;
  width: 100%;
  padding: $_10unit;
  font-size: $_16unit;
  border: $form-input-border;
  border-color: $form-input-border-color !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  color: $form-input-text-color;
  margin: 0;
  margin-top: $_6unit;
  outline: none;
  background: url('../../../../../../assets/images/expand_more_FILL0_wght400_GRAD0_opsz24.svg') no-repeat
    // TODO Animate
    right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - $_64unit / 8);

  &:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &:hover {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-primary, 50) !important;
    background-color: $form-input-focus-background;
  }

  &.ng-invalid {
    border-color: $danger-color !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &.ng-invalid:hover {
    border-color: $danger-color !important;
    box-shadow: 0 0 0 $box-shadow-radius map.get($yata-palette-red, 50) !important;
    background-color: map.get($yata-palette-red, 50) !important;
  }

  &:disabled {
    border-color: $form-input-border-color !important;
    background-color: map.get($yata-palette-gray, 100) !important;
  }

  &:disabled:hover {
    border-color: $form-input-border-color !important;
    box-shadow: 0 0 0 0 transparent !important;
  }
}

.dropdown-panel {
  box-sizing: border-box;
  position: fixed;
  z-index: 99999 !important;
  height: auto;
  max-height: 4 * $_64unit;
  overflow-x: auto;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-size: $_16unit;
  border: $form-input-border;
  border-color: $form-input-border-color !important;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  color: $form-input-text-color;
  outline: none;

  &:not(.opened) {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }

  &.opened {
    max-width: auto;
    max-height: auto;
    opacity: 1;
  }

  &.inline {
    margin-top: $_16unit;
    max-height: 4.5 * $_64unit;
  }

  .dropdown-item {
    padding: $_10unit;
    background-color: transparent;
    border: none;
    color: $form-input-text-color;
    cursor: pointer;
    letter-spacing: -2px;
    word-spacing: 0;

    &.selected {
      color: $primary-color;
      background-color: $form-input-focus-background;
    }
  }

  .dropdown-item:hover {
    background-color: darken($background-color, 3.75%);
  }

  span.highlight {
    background-color: #fde73f !important; // TODO Move to variables ?
  }

  span.blank {
    height: auto;
    color: transparent;
    overflow-x: hidden;
    width: 2px;
  }
}
