.flex {
    display: flex;
}

.w-100 {
    width: 100%;
    max-width: 100%;
}

.mat-header-cell:first-child,
.mat-cell:first-child {
    width: 64% !important;
    max-width: 64% !important;
}

.mat-cell:first-child {
    font-size: 16px !important;
    height: 60px !important;

}

.mat-header-cell:nth-child(2),
.mat-cell:nth-child(2) {
    width: 12% !important;
    max-width: 12% !important;
    text-align: center;
}

.mat-cell:nth-child(2),
.mat-cell:nth-child(3) {
    div:first-child {
        font-size: 12px;
    }

    div:last-child {
        font-size: 14px;
    }
}

.mat-header-cell:nth-child(3),
.mat-cell:nth-child(3) {
    width: 12% !important;
    max-width: 12% !important;
    text-align: center;
}

.mat-header-cell:nth-child(4),
.mat-cell:nth-child(4) {
    width: 12% !important;
    max-width: 12% !important;
    text-align: center;
}

.mat-header-cell:last-child,
.mat-cell:last-child {
    text-align: right;
}