@use 'sass:math';
@use '@chris.araneo/yet-another-todo-app-theme/variables.__generated.scss' as *;

span {
  font-family: 'Gentium Plus', sans-serif;
  font-size: $_18unit;
  line-height: $_20unit;
  font-weight: 500;
  color: $subtitle-text-color;
}
