@import '../../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

yata-task-card {
  position: relative;
  width: calc($column-width - $unit * 0.25);
  margin: $unit * 0.125;
}

.column {
  box-sizing: border-box;
  position: relative;
  min-width: $column-width;
  width: $column-width;
  min-height: 100%;
  padding-left: $unit * 0.125;
  padding-right: $unit * 0.125;
}
