@import '../../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

yata-task-card {
  position: relative;
  width: calc($column-width - $_16unit);
  margin: $_8unit;
}

.column {
  box-sizing: border-box;
  position: relative;
  min-width: $column-width;
  width: $column-width;
  min-height: 100%;
  padding-left: $_8unit;
  padding-right: $_8unit;
}
