@use 'sass:math';
@import '../../../shared/styles/variables.__generated.scss';

.add-task-modal .mat-mdc-dialog-container {
  > div {
    border: none;
    padding: 0;
    margin: 0;
  }

  .mat-mdc-dialog-surface {
    border: none;
    border-radius: $dialog-border-radius;
    background-color: $background-color;
  }

  yata-add-task-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      align-content: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .controls {
      width: $_48unit * 10;
      height: auto;

      yata-page {
        position: absolute;
        width: $_48unit * 10;

        yata-text-input,
        yata-textarea,
        yata-select,
        yata-date-picker,
        yata-time-picker,
        yata-readonly {
          margin-bottom: $_16unit !important;
        }
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    yata-subtitle {
      margin-bottom: $_18unit;
    }

    .task-card-wrapper {
      width: calc($column-width - $_16unit);
    }
  }
}
