<div class="figure"></div>
<div class="form">
  <yata-modal-title>{{ 'AddTaskModal.modalTitle' | translate }}</yata-modal-title>
  <form [formGroup]="taskForm">
    <div class="controls">
      <yata-text-input
        [formControlName]="'title'"
        [label]="'AddTaskModal.title' | translate"></yata-text-input>
      <yata-textarea
        [formControlName]="'description'"
        [label]="'AddTaskModal.description' | translate"
        [rows]="2"
        [maxLength]="200"></yata-textarea>
      <yata-select
        [formControlName]="'state'"
        [label]="'AddTaskModal.state' | translate"
        [options]="states"></yata-select>
      <yata-date-picker
        *ngIf="!!showStartDateControl && (showStartDateControl | async)"
        [formControlName]="'startDate'"
        [label]="'AddTaskModal.startDate' | translate"></yata-date-picker>
      <yata-date-picker
        *ngIf="!!showEndDateControl && (showEndDateControl | async)"
        [formControlName]="'endDate'"
        [label]="'AddTaskModal.endDate' | translate"></yata-date-picker>
    </div>
    <yata-modal-action-buttons
      [form]="taskForm"
      [step]="step"
      [total]="total"
      [backButton]="{ click: back }"
      [nextButton]="{ click: next }"
      [submitButton]="{ label: 'AddTaskModal.submit', click: submit }">
    </yata-modal-action-buttons>
  </form>
</div>
