.padding-12 {
    padding: 12px;
}

.margin-12 {
    margin: 12px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
}

.main {
    min-height: 100vh;
    background-image: url("../assets/nordwood-themes-R53t-Tg6J4c-unsplash.jpg");
    background-size: cover;
}