.p-12 {
    padding: 12px;
}

.m-12 {
    margin: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.main {
    min-height: 100vh;
    background-image: url("../assets/nordwood-themes-R53t-Tg6J4c-unsplash.jpg");
    background-size: cover;
}