<div class="timeline-headers-buttons-row">
  <yata-timeline-header
    class="timeline-header-button arrow-back"
    [ngStyle]="{ top: previousMonthButtonPosition.top, left: previousMonthButtonPosition.left }">
    <button
      mat-icon-button
      [attr.aria-label]="'Timeline.previousMonth' | translate"
      (click)="changeStartDateToPreviousMonth()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </yata-timeline-header>
  <yata-timeline-header
    class="timeline-header-button arrow-forward"
    [ngStyle]="{ top: nextMonthButtonPosition.top, left: nextMonthButtonPosition.left }">
    <button
      mat-icon-button
      [attr.aria-label]="'Timeline.nextMonth' | translate"
      (click)="changeStartDateToNextMonth()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </yata-timeline-header>
</div>
<div class="timeline-headers-row">
  <yata-timeline-header *ngFor="let header of headers" class="timeline-header-date">
    <yata-title>{{ header.dayOfWeek }}</yata-title>
    <yata-subtitle>{{ header.date }}</yata-subtitle>
  </yata-timeline-header>
</div>
<yata-column-highlight
  [startDate]="startDate"
  [endDate]="endDate"
  [highlightedDate]="today"
  [height]="columnHighlightHeight">
</yata-column-highlight>
<yata-timeline-content
  *ngIf="startDate && endDate"
  [startDate]="startDate"
  [endDate]="endDate"
  [tasks]="(tasks | async) || []">
</yata-timeline-content>
