<div class="figure">
  <yata-image
    src="../../../../public/images/edit-task.jpg"
    [width]="480"
    [height]="576"
    [alt]="'EditTaskModal.imageAlt' | translate" />
</div>
<div class="form">
  <yata-modal-title>{{
    'EditTaskModal.modalTitle' | translate
  }}</yata-modal-title>
  <form [formGroup]="form">
    <div class="controls" [ngSwitch]="step">
      <yata-page *ngSwitchCase="1" [@fadeInOut]>
        <yata-select
          formControlName="task"
          [label]="'EditTaskModal.task' | translate"
          [options]="(tasks | async) || []"
          [inline]="true" />
      </yata-page>
      <yata-page *ngSwitchCase="2" [@fadeInOut]>
        <yata-text-input
          formControlName="title"
          [label]="'EditTaskModal.title' | translate" />
        <yata-textarea
          formControlName="description"
          [label]="'EditTaskModal.description' | translate"
          [rows]="4"
          [maxLength]="200" />
        <yata-select
          formControlName="state"
          [label]="'EditTaskModal.state' | translate"
          [options]="states" />
      </yata-page>
      <yata-page *ngSwitchCase="3" [@fadeInOut]>
        <yata-date-picker
          *ngIf="!!(showDatePicker | async)"
          formControlName="dateRange"
          [label]="
            isDateRange
              ? ('EditTaskModal.dateRange' | translate)
              : ('EditTaskModal.startDate' | translate)
          "
          [range]="!!isDateRange" />
      </yata-page>
      <yata-page *ngSwitchCase="4" [@fadeInOut]>
        <yata-readonly
          [label]="'EditTaskModal.startDate' | translate"
          [value]="startDate" />
        <yata-time-picker
          formControlName="startTime"
          [label]="'EditTaskModal.startTime' | translate" />
        <ng-container *ngIf="isDateRange">
          <yata-readonly
            [label]="'EditTaskModal.endDate' | translate"
            [value]="endDate" />
          <yata-time-picker
            formControlName="endTime"
            [label]="'EditTaskModal.endTime' | translate" />
        </ng-container>
      </yata-page>
      <yata-page *ngSwitchCase="5" class="summary" [@fadeInOut]>
        <yata-subtitle
          >{{ 'EditTaskModal.summary' | translate }}:</yata-subtitle
        >
        <div class="task-card-wrapper">
          <yata-task-card *ngIf="task" [task]="task" [showEditButton]="false" />
        </div>
      </yata-page>
    </div>
    <yata-modal-action-buttons
      [form]="form"
      [step]="step"
      [total]="total"
      [backButton]="{
        click: back,
      }"
      [nextButton]="{
        click: next,
      }"
      [submitButton]="{
        label: 'EditTaskModal.saveChanges',
        click: submit,
      }" />
  </form>
</div>
