<div class="actions" [class.first-step]="step === 1">
  @if (backButton && step > 1) {
    <yata-button [click]="backButton.click">
      {{ backButton.label || ('ModalActionButtons.back' | translate) }}
    </yata-button>
  }
  <ng-content />
  @if (step < total) {
    <yata-button [click]="nextButton.click" [variant]="'primary'">
      nextButton.label || ('ModalActionButtons.next' | translate)
    </yata-button>
  } @else if (submitButton.label) {
    <yata-button
      [click]="submitButton.click"
      [variant]="'primary'"
      [icon]="submitButton.icon || ''">
      {{ submitButton.label | translate }}
    </yata-button>
    <!-- <yata-button
      [invalid]="!!form?.invalid"
      [pending]="!!form?.pending"
      [click]="submitButton.click"
      [variant]="'primary'"
      [icon]="submitButton.icon">
      {{ submitButton.label | translate }}
    </yata-button> -->
  }
</div>
