@use '../../../shared/styles/variables.__generated.scss' as *;

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: $unit16;
  gap: $unit8;
}

.first-step {
  justify-content: flex-end;
}
