@use '../../../shared/styles/variables.__generated.scss' as *;

h1 {
  font-family: 'Gentium Plus', sans-serif;
  font-size: $22unit;
  line-height: $unit24;
  font-weight: 500;
  color: $title-text-color;
}
