@use 'sass:math';
@import '../../../shared/styles/variables.scss';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.line {
  position: absolute;
  width: $_64unit + $_48unit;
  height: 2px;
  background-color: $form-input-border-color;
  margin-top: $_10unit;
  margin-left: $_128unit + $_32unit;
  opacity: 0.5;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: $_64unit + $_48unit;
  min-width: $_32unit;
  height: auto;
  align-items: center;
}

.circle {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $_14unit;
  font-weight: 400;
  padding: 0 $_4unit;
  background-color: transparent;
  color: $form-label-color;
  box-sizing: border-box;
  border: 1px solid $form-label-color;
  border-color: $form-label-color;
  border-radius: 50%;
  width: $_24unit;
  height: $_24unit;
  text-align: center;
  line-height: $_22unit;
  margin-bottom: $_8unit;
}

.circle:not(.active) {
  cursor: pointer;
}

.circle.active {
  background-color: $primary-color-50;
  color: $primary-color;
  border-color: $primary-color;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $_12unit;
  font-weight: 400;
  color: $form-label-color;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  opacity: 1;
  line-height: $_16unit;
  text-align: center;
}

.label:not(.active) {
  cursor: pointer;
}

.active {
  color: $primary-color;
}
