@import '../../../shared/variables.scss';

mat-card {
  box-sizing: border-box;
  border: $border;
  background-color: theme-background-color;
  width: 100%;
  margin: 0;
}

.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 $unit * 0.125 0;
  padding: 0;
}

.bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 24px 0 0 0;
  padding: 0;
  margin-bottom: -9px;

  .mat-mdc-button {
    line-height: $unit * 0.5;
  }
}

.mat-mdc-card-content {
  justify-content: center;
  text-align: center;
}

.mat-mdc-card-header {
  justify-content: center;
  text-align: center;
}

.mat-mdc-icon-button {
  padding: 0;
  min-width: 0;
  width: $unit * 0.5;
  height: $unit * 0.5;
  flex-shrink: 0;
  line-height: 22px;
  border-radius: 50%;
}

::ng-deep .mat-mdc-card-header-text {
  margin: 0px !important;
  display: none;
}

yata-task-state-icon {
  padding: 10px 12px;
}
