@import '../../../shared/variables.scss';

mat-card {
  box-sizing: border-box;
  border: $border;
  background-color: theme-background-color;
  width: 100%;
  padding: $unit * 0.125;
  margin: 0;
}

.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 $unit * 0.125 0;
  padding: 0;
}

.bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 24px 0 0 0;
  padding: 0;

  .mat-button {
    line-height: $unit * 0.5;
  }
}

.mat-card-content {
  text-align: center;
}

.mat-card-header {
  justify-content: center;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: $unit * 0.5;
  height: $unit * 0.5;
  flex-shrink: 0;
  line-height: 22px;
  border-radius: 50%;
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
  display: none;
}
