<mat-card>
  <mat-card-actions class="top-actions">
    <yata-task-state-icon [state]="task.state" [size]="24" [opacity]="0.4"></yata-task-state-icon>
    <button mat-icon-button aria-label="Edit icon">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <yata-title>{{ task.title }}</yata-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ task.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="bottom-actions">
    <button mat-button>Complete</button>
  </mat-card-actions>
</mat-card>
