@use '../../../shared/styles/variables.__generated.scss' as *;

:host {
  box-sizing: border-box;
  border-top: $border;
  padding: $unit6 $unit8;
  margin: 0;
  background-color: $background-color;

  span,
  a {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: $unit12;
    color: $label-text-color;
  }
}
