<div class="actions" [class.first-step]="step === 1">
  <yata-back-button *ngIf="backButton && step > 1" [back]="backButton.click">
    {{ backButton.label || ('ModalActionButtons.back' | translate) }}
  </yata-back-button>
  <ng-content></ng-content>
  <ng-container *ngIf="step < total; else submit">
    <yata-next-button *ngIf="nextButton" [next]="nextButton.click">
      {{ nextButton.label || ('ModalActionButtons.next' | translate) }}
    </yata-next-button>
  </ng-container>
</div>

<ng-template #submit>
  <yata-submit-button
    *ngIf="submitButton && submitButton.label"
    [invalid]="!!form?.invalid"
    [pending]="!!form?.pending"
    [submit]="submitButton.click"
    [color]="submitButton.color || 'primary'"
    [icon]="submitButton.icon">
    {{ submitButton.label | translate }}
  </yata-submit-button>
</ng-template>
