@import '../../../shared/styles/variables.scss';

.actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: $_32unit;
}

yata-cancel-button {
  margin-right: $_16unit;
  display: flex;
  align-items: center;
}
