@import '../../../shared/styles/variables.scss';

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: $_16unit;
}

.first-step {
  justify-content: flex-end;
}
