.DS_Store
.nx/cache
.nx/workspace-data
.sass-cache/
.stryker-tmp
*__generated*
apps/yet-another-todo-app-frontend/.angular/cache
build
coverage
dist
node_modules
npm-debug.log
out
reports
strykerTmp
testem.log
Thumbs.db
tsconfig.tsbuildinfo
yarn-error.log
