!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.angular
.c9/
.classpath
.cursor/rules/nx-rules.mdc
.DS_Store
.github/instructions/nx.instructions.md
.nx/cache
.nx/workspace-data
.project
.settings/
.vscode/*
*.launch
*.sublime-workspace
**/*__generated*
/.idea
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
dist
node_modules
npm-debug.log
out-tsc
testem.log
Thumbs.db
tmp
yarn-error.log
