@use 'sass:math';
@import '../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  border-top: $border;
  padding: $_6unit $_8unit;
  margin: 0;
  background-color: $background-color;

  span,
  a {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: $_12unit;
    color: $label-text-color;
  }
}
