@use 'sass:math';
@import '../../../shared/styles/variables.scss';

:host {
  box-sizing: border-box;
  border-top: $border;
  padding: $_6unit $_8unit;
  margin: 0;
  background-color: $theme-background-color;

  span,
  a {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: $_12unit;
    color: #333333;
  }
}
