<div class="submit-button-wrapper">
  <button
    mat-flat-button
    [color]="color"
    [disabled]="invalid || pending || isLoading"
    (click)="onButtonClick($event)">
    <ng-container [ngTemplateOutlet]="buttonContent" />
  </button>
</div>

<ng-template #buttonContent>
  <div class="button-content">
    <mat-icon>{{ icon }}</mat-icon>
    <ng-content />
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="isLoading" [diameter]="spinnerDiameter" />
    </div>
  </div>
</ng-template>
