@use 'sass:math';
@import '../../../shared/styles/variables.__generated.scss';

.delete-task-modal .mat-mdc-dialog-container {
  > div {
    border: none;
    padding: 0;
    margin: 0;
  }

  .mat-mdc-dialog-surface {
    border: none;
    border-radius: $dialog-border-radius;
    background-color: $background-color;
  }

  yata-delete-task-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    .figure,
    .form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      align-content: center;
    }

    .figure {
      background-image: url('../../../../assets/images/delete-task.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      height: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .controls {
      width: $_48unit * 10;
      height: auto;

      yata-page {
        position: absolute;
        width: $_48unit * 10;

        yata-select {
          margin-bottom: $_16unit !important;
        }
      }
    }
  }
}
