@import '../../../../shared/styles/variables.scss';

:host {
  position: sticky;
  top: 0;
  width: 0;
  height: 0;
  overflow-y: visible;
  overflow-x: visible;
}

div {
  position: relative;
  width: $column-width;
  margin-top: 0;
  background-color: $primary-color;
  opacity: 0.25;
}
