@use '../../../shared/styles/variables.__generated.scss' as *;

$next-button-wrapper-height: $unit48;
$next-button-border-radius: $unit10;

.next-button-wrapper {
  width: 100%;
  max-width: $unit192;
  height: $next-button-wrapper-height;

  ::ng-deep {
    button {
      margin: 0;
      width: 100% !important;
      height: 100% !important;
      border-radius: $next-button-border-radius;
    }
  }

  mat-icon {
    margin-left: $unit12;
  }

  .button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 $unit8;
    padding-left: $unit18 !important;
  }
}
