@use 'sass:math';
@import '../../../../shared/styles/variables.scss';

::ng-deep .sign-out-button-wrapper {
  .mdc-icon-button {
    mat-icon {
      width: $_24unit;
      height: $_24unit;
      font-size: $_24unit;
    }
  }
}
