<yata-title>{{ title }}</yata-title>
<form [formGroup]="taskForm">
  <yata-text-input [formControlName]="'title'" [label]="'Title'"></yata-text-input>
  <yata-textarea
    [formControlName]="'description'"
    [label]="'Description'"
    [rows]="2"
    [maxLength]="200"></yata-textarea>
  <yata-select [formControlName]="'state'" [label]="'State'" [options]="states"></yata-select>
  <yata-date-picker
    *ngIf="!!showStartDateControl && (showStartDateControl | async)"
    [formControlName]="'startDate'"
    [label]="'Start date'"></yata-date-picker>
  <yata-date-picker
    *ngIf="!!showEndDateControl && (showEndDateControl | async)"
    [formControlName]="'endDate'"
    [label]="'End date'"></yata-date-picker>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="taskForm.invalid">
    Submit
  </button>
</form>
