<yata-title>{{ title }}</yata-title>
<form [formGroup]="taskForm">
  <yata-text-input [formControlName]="'title'" [label]="'Title'"></yata-text-input>
  <yata-textarea
    [formControlName]="'description'"
    [label]="'Description'"
    [rows]="4"
    [maxLength]="200"></yata-textarea>
  <yata-select [formControlName]="'state'" [label]="'State'" [options]="states"></yata-select>
  <mat-form-field *ngIf="!!showStartDateControl && (showStartDateControl | async)">
    <mat-label>Start date</mat-label>
    <input [formControlName]="'startDate'" type="date" matInput />
  </mat-form-field>
  <mat-form-field *ngIf="!!showEndDateControl && (showEndDateControl | async)">
    <mat-label>End date</mat-label>
    <input [formControlName]="'endDate'" type="date" matInput />
  </mat-form-field>
</form>
<button mat-button (click)="submit()" [disabled]="taskForm.invalid">Submit</button>
