<yata-title class="modal-title">{{ 'ImportTasksModal.modalTitle' | translate }}</yata-title>
<form [formGroup]="form" *ngIf="!!form" (submit)="$event.preventDefault()">
  <yata-file-input
    [formControlName]="'file'"
    [label]="'ImportTasksModal.file' | translate"></yata-file-input>
  <yata-password-input
    [formControlName]="'password'"
    [label]="'ImportTasksModal.password' | translate"></yata-password-input>
  <span class="error-label" *ngIf="unzipError">
    {{ 'ImportTasksModal.unzipError' | translate }}
  </span>
  <button mat-flat-button color="primary" (click)="submit($event)">
    {{ 'ImportTasksModal.submit' | translate }}
  </button>
</form>
