@use 'sass:math';
@import '../../../shared/styles/variables.__generated.scss';

.import-tasks-modal .mat-mdc-dialog-container {
  > div {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
  }

  .mat-mdc-dialog-surface {
    border: $border;
    border-radius: $modal-border-radius;
    background-color: $background-color;
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: $_24unit;
  }

  .modal-title {
    h1 {
      border-bottom: $border;
      padding: $_24unit $_32unit;
      font-weight: 500;
      text-align: center;
    }
  }

  yata-text-input,
  yata-textarea,
  yata-select,
  yata-date-picker,
  yata-password-input,
  yata-file-input,
  .error-label {
    margin-bottom: $_16unit;
  }

  .error-label {
    color: $danger-color;
  }
}
