@import '../../../../shared/styles/variables.scss';

mat-card {
  box-sizing: border-box;
  border: $border;
  background-color: theme-background-color;
  width: 100%;
  margin: 0;
}

.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 $_8unit;
  padding: 0;
}

.bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: $_24unit 0 0 0;
  padding: 0;
  margin-bottom: -($_8unit + $_2unit * 0.5);

  .mat-mdc-button {
    line-height: $_32unit;
  }
}

.mat-mdc-card-content {
  justify-content: center;
}

.mat-mdc-card-header {
  justify-content: center;
  text-align: center;
  margin-bottom: $_14unit;
}

.mat-mdc-icon-button {
  padding: 0;
  min-width: 0;
  width: $_32unit;
  height: $_32unit;
  flex-shrink: 0;
  line-height: $_22unit;
  border-radius: 50%;
}

::ng-deep .mat-mdc-card-header-text {
  margin: 0px !important;
  display: none;
}

yata-task-state-icon {
  padding: $_10unit $_12unit;
}
