@use '../../../../shared/styles/variables.__generated.scss' as *;

::ng-deep .sign-out-button-wrapper {
  .mdc-icon-button {
    mat-icon {
      width: $unit24;
      height: $unit24;
      font-size: $unit24;
      color: $background-color;
    }
  }
}
