@use "sass:map";
@use 'sass:math';
@import '../../../../shared/styles/variables.__generated.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.logged-as {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: map.get($yata-palette-gray, 200);

  span {
    display: block;
  }

  .username {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    margin-top: $_4unit;
    font-size: $_14unit;
    line-height: $_14unit;
    font-weight: 400;
    opacity: 1;
    color: $background-color;
    background-color: transparent;
    text-transform: uppercase;
  }

  yata-label {
    line-height: $_14unit;
  }
}
