@import '../../styles/variables.scss';

.card {
  box-sizing: border-box;
  border: $border;
  background-color: $background-color;
  border-radius: $border-radius;
  width: 100%;
}

.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $_8unit;
  padding: $_2unit $_2unit;
}

.header {
  display: block;
  margin-bottom: $_12unit;
  padding: $_16unit;

  yata-title {
    width: 100%;
  }
}

.date-range {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.start-date,
.end-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;

  ::ng-deep yata-label {
    span {
      font-size: $_12unit !important; // TODO Customization with input
      line-height: $_20unit !important; // TODO Customization with input
    }
  }
}

.margin-right {
  margin-right: $_4unit;
}

.description {
  justify-content: center;
  padding: $_14unit;
  margin-bottom: $_32unit;
}

.dates {
  padding: $_14unit;

  .mat-icon {
    font-size: $_20unit;
    width: $_20unit;
    height: $_20unit;
    margin-right: $_8unit;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
}

.mat-mdc-icon-button {
  padding: 0;
  min-width: 0;
  width: $_32unit;
  height: $_32unit;
  flex-shrink: 0;
  line-height: $_24unit;
  border-radius: 50%;
}

yata-task-state-icon {
  width: $_24unit;
  height: $_24unit;
  margin-left: $_12unit;
}
