@use 'sass:math';
@import '../../../shared/styles/variables.scss';

textarea,
textarea:focus {
  box-sizing: border-box;
  width: 100%;
  padding: $_10unit $_10unit;
  font-size: $_16unit;
  border-radius: $form-input-border-radius;
  outline: none;
  margin: 0;
  margin-top: $_6unit;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  resize: vertical;
}

textarea:not(:focus) {
  border: $form-input-border;
  background-color: $form-input-background;
}

textarea:focus {
  border: $form-input-focus-border;
  background-color: $form-input-focus-background;
}

label {
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 0 $_2unit;
  margin: 0;
  margin-top: $_6unit;
  font-size: $_14unit;
  font-weight: 400;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  opacity: 0.8;
}
