@use 'sass:math';
@import '../../../shared/styles/variables.scss';

.p-inputtextarea {
  box-sizing: border-box;
  width: 100%;
  padding: $_10unit $_8unit;
  font-size: $_16unit;
  border: $form-input-border;
  background-color: $form-input-background;
  border-radius: $form-input-border-radius;
  outline: none;
  margin: 0;
  margin-top: $_6unit;

  &:not(.ng-invalid):enabled:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_6unit $primary-color-50 !important;
    background-color: $form-input-focus-background;
  }

  &:not(.ng-invalid):hover {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_4unit $primary-color-50 !important;
    background-color: $form-input-focus-background;
  }

  &:not(.ng-invalid):not(:focus) {
    border-color: $form-input-border-color !important;
    background-color: $form-input-background;
  }

  &.ng-invalid {
    border-color: $warn-color !important;
  }

  &.ng-invalid:enabled:focus {
    border-color: $form-input-focus-border-color !important;
    box-shadow: 0 0 0 $_6unit $warn-color-50 !important;
    background-color: $warn-color-50 !important;
  }

  &.ng-invalid:hover {
    border-color: $warn-color !important;
    box-shadow: 0 0 0 $_4unit $warn-color-50 !important;
    background-color: $warn-color-50 !important;
  }
}
