<div class="figure">
  <yata-image
    [src]="'../../../../assets/images/select-import-action.jpg'"
    [width]="480"
    [height]="576"
    [alt]="'SelectImportActionModal.imageAlt' | translate"></yata-image>
</div>
<div class="form">
  <yata-modal-title>{{ 'SelectImportActionModal.modalTitle' | translate }}</yata-modal-title>
  <form>
    <div class="controls" [ngSwitch]="1">
      <yata-page *ngSwitchCase="1" [@fadeInOut]>
        <mat-radio-group [(ngModel)]="action" [ngModelOptions]="{ standalone: true }">
          <mat-radio-button *ngFor="let action of actions" [value]="action">
            {{ 'SelectImportActionModal.' + action | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </yata-page>
    </div>
    <yata-modal-action-buttons
      [step]="1"
      [total]="1"
      [submitButton]="{ label: 'SelectImportActionModal.submit', click: submit }">
    </yata-modal-action-buttons>
  </form>
</div>
