@use 'sass:math';
@import '../../styles/variables.scss';

h1 {
  font-family: 'Spectral', serif;
  font-size: math.div($unit, 3.2);
  line-height: math.div($unit, math.div(8, 3));
  font-weight: 500;
}
