@use 'sass:math';
@import '../../styles/variables.__generated.scss';

h1 {
  font-family: 'Gentium Plus', sans-serif;
  font-size: $_22unit;
  line-height: $_24unit;
  font-weight: 500;
  color: $title-text-color;
}
